
*.SchDocPreview

hardware/pcb/uicctrace_demo/History/

*.LOG

hardware/pcb/uicctrace_1FF_adapter/History/

hardware/pcb/uicctrace_demo/Project Outputs for uicctrace_demo/

hardware/pcb/ref/card_reader_adapter/Imported untitled/History/

hardware/pcb/ref/card_reader_adapter/
